$colors: (
    primary: #553739,
    secondary: #384554,
    primary-alt: #fff,
    secondary-alt: #f5f5f5,
    success: #748E54,
    warning: #9C914F,
    error: #955E42,
    color1: #523654,
    color2: #383554,
    color3: #232020,
    color4: #419351,
    color5: #415193,
    color6: #7F3693,
    color7: #4F5F9B,
);

$gaps: (
  regular: 10px
);
